# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

05_react/
javascript/
perfil-git/
my-first-react-app/
package-lock.json
package.json
00-hola-mundo/
01_cronometro/
02-generate-random-number-lotery/
04-fake-users/
solid/
sql/
user.mail
adad